<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{User/base::layout(~{::section} )}">
<head>


</head>
<body>

	<section>

		<div class="card mr-3 mb-3">
			<div class="card-body">   
			
				<h2 class="text-center">Contact Details</h2>
				<div class="container-fluid mt-3 text-center  " th:if="${contact}">

					<div th:if="${session.msg}"
						class="alert alert-success text-center  alert-dismissible">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<strong th:text="${session.msg}"> </strong>
						<th:block th:text="${@sessionHelper.removesession()}"></th:block>
					</div>

					<img class="img-circle" style="height: 200px; width: 200px;"
						th:src="@{'/img/'+${contact.imgurl}}">
					<h4 class="mt-2" th:text="${contact.name}"></h4> 


					<div class="col-md-10 offset-md-1">

						<table class="table mt-5">

							<tbody>
								<tr>
									<th scope="row">#ID</th>
									<td th:text="${contact.cid}"></td>
								</tr>

								<tr>
									<th scope="row">Email</th>
									<td th:text="${contact.email}"></td>
								</tr>

								<tr>
									<th scope="row">Phone</th>
									<td th:text=" ${contact.phone }"></td>
								</tr>


								<tr>
									<th scope="row">Work</th>
									<td th:text=" ${contact.work  }"></td>
								</tr>
								<tr>
									<th scope="row">Favorite</th>
									<td th:if="${contact.favorite}" >Yes</td>
									<td th:unless="${contact.favorite}">No</td>
								</tr>


							</tbody>
						</table>

						<div class="mt-2">
							<h3>Description</h3>
							<p class="mt-1" th:text=" ${contact.description  }">
						</div>

						<div class="mt-2">
							<a th:href="@{'/user/update-contact?cid='+${contact.cid}}"><button
									type="button" class="btn btn-success  btn-lg btn-block">
									Update</button></a>
						</div>
					</div>



				</div>
			</div>
		</div>

	</section>



</body>
</html>

