<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{User/base::layout(~{::section} )}">
<head>



</head>
<body>

	<section>

		<div class="card mr-3 mb-3">



			<div class="card-body">
				<h2 class="text-center">View Contact</h2>

				<div th:if="${session.msg}"
					class="alert alert-success text-center  alert-dismissible">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<strong th:text="${session.msg}"> </strong>
					<th:block th:text="${@sessionHelper.removesession()}"></th:block>
				</div>

				<div class="card-header mt-2">
					<ul class="nav nav-pills card-header-pills">
						<li class="nav-item"><a class="nav-link active"
							th:href="@{/user/view-contact}">All Contact </a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/user/favorites}">Favorites </a></li>

					</ul>
				</div>

				<div class="container-fluid mt-3">
					<div class="row" th:if="${contacts.getContent()   }">
						<div class="list-group contact-group mt-2"
							style="position: relative;" th:each="c:${contacts }">
							<a th:href="@{'/user/delete-contact/'+${c.cid}}" class="remove ">
								<span><i class='bx bxs-x-circle'></i></span>
							</a> <a th:href="@{'/user/contact-detail?cid='+${c.cid} }"
								class="list-group-item">

								<div class="media">
									<div class="pull-left">
										<img class="img-circle" th:src=" ${c.imgurl}">
									</div>


									<div class="media-body">
										<span th:text="${c.name}"></span> <span th:if="${c.favorite}"
												style="color: yellow;"><i class="fa  fa-star"></i></span>
										<h4 class="media-heading">  </h4>



										<div class="media-content">
											  <i class="fa  fa-suitcase"></i><span
												class="work" th:text="${c.work}"> </span>
											<ul class="list-unstyled">
												<li><i class="fa fa-phone"></i> +91-<span
													th:text="${c.phone}"></span></li>
												<li><i class="fa fa-envelope"></i> <span
													th:text="${c.email}"></span></li>
											</ul>
										</div>
									</div>
								</div>
							</a>
						</div>


						<nav aria-label="Page navigation example">
							<ul class="pagination mt-5 d-flex justify-content-center">

								<li class="page-item" th:unless="${contacts.first}"><a
									class="page-link"
									th:href="@{'/user/view-contact?page='+${contacts.number-1} }">Previous</a></li>

								<li class="page-item"
									th:each="index:${#numbers.sequence(1,contacts.totalPages)}"
									th:classappend="${index == contacts.number+1 ? 'active':''}"><a
									th:href="@{'/user/view-contact?page='+${index-1 } }"
									class="page-link"> <span th:text="${index }"></span>
								</a></li>

								<li class="page-item" th:unless="${contacts.last}"><a
									class="page-link"
									th:href="@{'/user/view-contact?page='+${contacts.number+1} }">Next</a></li>

							</ul>
						</nav>


					</div>

					<h1 th:unless="${contacts }" class="text-center mt-5">Not have
						any contact</h1>

				</div>
			</div>
		</div>

	</section>



</body>
</html>

