@charset "UTF-8";

@media only screen and (max-width: 600px) {
	.sidebar {
		width: 80% !important;
		margin-left: 2%;
		border-radius: 20px;
		background-color: white;
		height: 70%;
		position: fixed;
		left: -100%;
		padding-top: 40px;
		display: flex;
		flex-direction: column;
		transition: all 1s ease-out;
		z-index: 999;
	}
	.sidebar .img {
		height: 150px;
		width: 150px;
		margin-bottom: 8px;
	}
	.content {
		margin-left: 3% !important;
	}
	.crossBtn i {
		font-size: 60px;
	}
	.content #openNav {
		display: block !important;
	}
}

@media only screen and (min-width:601px) and (max-width: 900px) {
	.sidebar {
		width: 60% !important;
		margin-left: 2%;
		border-radius: 20px;
		background-color: white;
		height: 60%;
		position: fixed;
		left: -100%;
		padding-top: 40px;
		display: flex;
		flex-direction: column;
		transition: all 1s ease-out;
		z-index: 999;
	}
	.sidebar .img {
		height: 150px;
		width: 150px;
		margin-bottom: 8px;
	}
	.content {
		margin-left: 3% !important;
	}
	.content #openNav {
		display: block !important;
	}
}

.sidebar {
	width: 20%;
	margin-left: 2%;
	border-radius: 20px;
	background-color: white;
	height: 80%;
	position: fixed;
	padding-top: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: all 1s ease-out;
}

.sidebar a {
	margin-top: 6px;
	width: 80%;
	padding: 10px 35px;
	text-decoration: none;
	color: gray;
}

.sidebar a:hover {
	background-color: #fe81f1;
	color: white;
	border-radius: 50px;
}

.content {
	margin-left: 25%;
	transition: all 1s ease-out;
}

.sidebar .crossBtn {
	position: absolute;
	top: 8px;
	right: 6px;
	font-size: 35px;
	cursor: pointer;
}

.img {
	height: 120px;
	width: 120px;
	border-radius: 50%;
}

.side-img {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#openNav{
	display: none;
	font-size: 35px;
}